/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
*/
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;800&display=swap");
/* VARIABLES */
/* VARIABLES LIGHT */
[data-theme=light] {
  --clr-bg: #ececec;
  --clr-bg-90: #ececece6;
  --clr-text: #1c1c1c;
  --clr-gray: #bababa;
  --clr-gray-alt: #e0e0e0;
  --clr-details: #5EEAA6;
}

:root {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

*::-moz-selection {
  background-color: #5EEAA6;
  color: #1C1C1C;
}

*::selection {
  background-color: #5EEAA6;
  color: #1C1C1C;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #F5F5F5;
  font-family: "Rubik", sans-serif;
  background-color: #1C1C1C;
  background-image: url("../assets/images/bg-noise.png");
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  background-color: #1C1C1C;
  color: #F5F5F5;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid #606060;
  border-radius: 0.25rem;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(2rem);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  width: -moz-max-content;
  width: max-content;
  margin-top: 0.25rem;
}

[data-tooltip][data-tooltip-bottom]::after {
  transform: translateX(-50%) translateY(-2rem);
  bottom: unset;
  top: 100%;
}

@media (hover: hover) {
  [data-tooltip]:hover::after {
    transform: translateX(-50%) translateY(0.5rem);
    opacity: 1;
    visibility: visible;
  }
}
.main-header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-image: linear-gradient(to bottom, #1C1C1C 50%, transparent);
  background-color: rgba(28, 28, 28, 0.9019607843);
  border-bottom: 1px solid #2D2D2D;
}
.main-header__logo {
  font: bold 1em "Unbounded", sans-serif;
  color: #5EEAA6;
  text-shadow: 0 0 0.1rem #5EEAA6;
}
.main-header__tools {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.main-header__tools > .theme-button, .main-header__tools > .language-button {
  border: 0;
  background-color: transparent;
  color: #F5F5F5;
  font-size: 0.9rem;
  transition: 0.5s;
  cursor: pointer;
}
.main-header__tools > .theme-button:hover, .main-header__tools > .language-button:hover {
  color: #5EEAA6;
}

/* .main-container {
    max-width: 68.75rem;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    align-items: center;


    &__social {
        display: flex;
        flex-direction: column;

        margin-left: 180px;
        margin-right: 50px;

        a {
            margin: .875rem;
            color: $color-tx-secondary;
            transition: 0.5s;

            &:hover {
                color: $color-tx-tertiary;
                transform: scale(1.1);
            }
        }
    }

    &__about {
        display: flex;
        align-items: center;

        .about-content {
            display: flex;
            flex-direction: column;

            &__tools {
                margin-top: 20px;
                margin-left: 27px;

                i {
                    margin-right: 22px;
                }
            }

            &__title {
                display: flex;
                align-items: center;

                img {
                    width: 6.875rem;
                    margin-right: 20px;
                    background-color: rgb(109, 109, 109);
                    border-radius: 5px;
                }

                h2 {
                    color: $color-bg-primary;
                    font: bold 23px $font-family-primary;
                    background-color: $color-tx-tertiary;
                    border-radius: 4px;
                    margin-right: 240px;
                    text-align: center;
                }

                h1 {
                    margin-top: 7px;
                    color: $color-tx-primary;
                    font: bold 2.375em $font-family-primary;
                }
            }

            &__text {
                p {
                    font: lighter .9375em $font-family-primary;
                    color: $color-tx-primary;
                    text-align: justify;
                    margin-top: 25px;
                    margin-right: 247px;
                }
            }

            &__contact {
                margin-top: 30px;
                margin-bottom: 30px;

                p {
                    font: bold .9375em $font-family-primary;
                    color: $color-tx-primary;
                }
            }
        }
    }
}

.footer-container {
    max-width: 68.75rem;
    margin: 0 auto;

    p {
        padding-top: 100px;
        padding-bottom: 50px;
        text-align: center;
        font: bold .9375em $font-family-primary;
        color: $color-tx-primary;
    }
} *//*# sourceMappingURL=main.css.map */