@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;800&display=swap");
/* VARIABLES */
:root {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

*::-moz-selection {
  background-color: #5EEAA6;
  color: #1C1C1C;
}

*::selection {
  background-color: #5EEAA6;
  color: #1C1C1C;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #F5F5F5;
  font-family: "Rubik", sans-serif;
  background-color: #1C1C1C;
  background-image: url("../assets/images/bg-noise.png");
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  background-color: #5EEAA6;
  color: #1C1C1C;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(2rem);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  width: -moz-max-content;
  width: max-content;
  margin-top: 0.25rem;
}

[data-tooltip][data-tooltip-bottom]::after {
  transform: translateX(-50%) translateY(-2rem);
  bottom: unset;
  top: 100%;
}

@media (hover: hover) {
  [data-tooltip]:hover::after {
    transform: translateX(-50%) translateY(0.5rem);
    opacity: 1;
    visibility: visible;
  }
}
.main-header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: rgba(28, 28, 28, 0.9019607843);
  border-bottom: 0.0625rem solid #2D2D2D;
}
.main-header__nav {
  display: flex;
  align-items: center;
  gap: 13rem;
}
.main-header__nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.main-header__nav ul > li > a {
  font: normal bold 14px "Roboto Mono", sans-serif, sans-serif;
  color: #606060;
  transition: color 0.2s;
  display: flex;
}
.main-header__nav ul > li > a::before {
  content: "<";
  color: #606060;
  display: inline-block;
  transition: color 0.2s, transform 0.1s 0.2s;
}
.main-header__nav ul > li > a::after {
  content: "/>";
  color: #606060;
  display: inline-block;
  transition: color 0.2s, transform 0.1s 0.2s;
}
.main-header__nav ul > li > a:hover {
  color: #5EEAA6;
}
.main-header__nav ul > li > a:hover::before {
  color: #5EEAA6;
  transform: translateX(-0.5rem);
}
.main-header__nav ul > li > a:hover::after {
  color: #5EEAA6;
  transform: translateX(0.5rem);
}
.main-header__title {
  font: bold 1em "Unbounded", sans-serif;
  color: #5EEAA6;
  text-shadow: 0 0 0.1rem #5EEAA6;
}
.main-header__tools {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.main-header__tools > .theme-button, .main-header__tools > .language-switch {
  border: 0;
  background-color: transparent;
  color: #F5F5F5;
  font-size: 0.9rem;
  transition: 0.5s;
  cursor: pointer;
}
.main-header__tools > .theme-button:hover, .main-header__tools > .language-switch:hover {
  color: #5EEAA6;
}

.main-container {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 62.5rem;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
}
.main-container__content {
  display: grid;
  align-items: start;
  grid-template-columns: 0.35fr 1fr;
  gap: 2rem;
}
.main-container__content .content-image {
  width: 100%;
  border-radius: 0.5rem;
  transform: scale(0.7) translateX(-1rem) translateY(-1rem);
  background: #5EEAA6 url("../../assets/images/bg-noise.png") no-repeat;
}
.main-container__content .content-image img {
  max-width: 100%;
  border-radius: 1rem;
  transform: scale(1.26) translateX(-0.13rem) translateY(-1.5rem);
}
.main-container__content .content-about {
  display: flex;
  flex-direction: column;
}
.main-container__content .content-about__intro {
  color: #1C1C1C;
  width: -moz-max-content;
  width: max-content;
  border-radius: 0.2rem;
  padding: 0.25rem 0.75rem;
  font: normal bold 1em/1.3 "Rubik", sans-serif, sans-serif;
  background: #5EEAA6 url("../../assets/images/bg-noise.png") no-repeat;
}
.main-container__content .content-about__title {
  color: #5EEAA6;
  margin-bottom: 1rem;
  font: normal bold 2.2em "Unbounded", sans-serif, sans-serif;
}
.main-container__content .content-about__subtitle {
  font: normal 600 2.6em/1.3 "Unbounded", sans-serif, sans-serif;
}
.main-container__content .content-about__description {
  text-align: justify;
  margin-bottom: 1.5625rem;
  font: normal 500 0.8125em "Unbounded", sans-serif, sans-serif;
}
.main-container__content .content-about__description .link {
  color: #5EEAA6;
}
.main-container__content .content-about__contact {
  font: normal 0.875em "Unbounded", sans-serif, sans-serif;
}
.main-container__content .content-about__contact .mail {
  padding: 0 0.4rem;
  color: #5EEAA6;
}
.main-container__content .content-about__footer {
  bottom: 1.875rem;
  right: 23.125rem;
  color: #606060;
  text-align: center;
  position: absolute;
  font: normal bold 0.8125em "Unbounded", sans-serif, sans-serif;
}
.main-container__social {
  text-align: center;
  margin-left: 4.625rem;
  display: flex;
  flex-direction: column;
}
.main-container__social a {
  margin: 1rem;
  color: #F5F5F5;
  transition: 0.5s;
}
.main-container__social a:hover {
  color: #5EEAA6;
  transform: scale(1.1);
}
.main-container__social #notion {
  color: #1C1C1C;
  width: 1.8125rem;
  margin-left: 1.125rem;
  border-radius: 0.125rem;
  font: normal bold 1.4375em "Rubik", sans-serif, sans-serif;
  background: #F5F5F5 url("../../assets/images/bg-noise.png") no-repeat;
}
.main-container__social #notion:hover {
  background-color: #5EEAA6;
}

.load-page {
  inset: 0;
  position: fixed;
  transition: 0.2s;
  z-index: 99999999;
  background-color: #1C1C1C;
  display: flex;
  align-items: center;
  justify-content: center;
}
.load-page img {
  width: 100%;
}

.section-hero img {
  width: 100%;
}

.footer-container {
  max-width: 62.5rem;
  margin: 0 auto;
}
.footer-container p {
  margin: 1.25rem 0;
  text-align: center;
  font: bold 0.8125rem "Unbounded", sans-serif;
  color: #606060;
}

.container img {
  width: 100%;
}/*# sourceMappingURL=main.css.map */