<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>👋 Brayan0campo | Portfolio </title>

    <link rel="stylesheet" href="../scss/main.css">
    <script src="https://kit.fontawesome.com/380f4ef113.js" crossorigin="anonymous"></script>
</head>

<body>

    <header class="main-header" aria-label="Encabezado">
        <nav class="main-header__nav">
            <a class="main-header__title" href="../index.html" draggable="false">Brayan | Ocampo</a>
            <ul>
                <li><a href="#about-me" aria-label="Sobre mí">sobre mí</a></li>
                <li><a href="#portfolio" aria-label="Portfolio">portfolio</a></li>
                <li><a href="#career" aria-label="Experiencia">experiencia</a></li>
                <li><a href="#contact" aria-label="Contacto">contacto</a></li>
            </ul>
        </nav>
        <div class="main-header__tools">
            <a class="language-switch" href="./en" draggable="false" data-tooltip="Switch to English" data-tooltip-bottom aria-label="Switch to English"><i class="fa-solid fa-earth-americas fa-lg"></i></a>
            <button class="theme-button" aria-hidden="true" data-tooltip="Tema" data-tooltip-bottom aria-label="Color de pagina"><i class="fa-solid fa-circle-half-stroke fa-lg"></i></button>
        </div>
    </header>

    <main aria-label="Contenido principal">
       <!--  <section aria-label="Introducción">
            <div class="main-container">
                <div class="main-container__content">
                    <div class="main-content">
                        <div class="main-content__image">
                            <div class="content-image">
                                <img src="./assets/images/img-perfil1.webp" draggable="false" alt="Imagen de perfil">
                            </div>
                        </div>
                        <div class="main-content__about">
                            <p class="content-intro">¡Hola! Bienvenido</p>
                            <p class="content-subtitle">Soy Brayan </p>
                            <h1 class="content-title">Desarrollador Frontend /></h1>
                            <p class="content-description">
                                ¡Ingeniero de Software en constante ascenso! Amante del aprendizaje y el crecimiento
                                profesional. Domino HTML, CSS, JavaScript, React Js, Git, SQL y metodologías como Scrum.
                                Espíritu colaborativo, resiliente ante la presión. ¡Dispuesto a llevar tu equipo a
                                nuevas alturas!. Conoce mas en mi { portafolio }
                            </p>
                            <p class="content-contact">Correo de contacto: <i class="fa-solid fa-envelope"></i> {
                                <span><a class="mail" href=""
                                        draggable="false">ocamporodriguezbrayan@gmail.com</a></span> } </p>
                        </div>
                    </div>
                    <div class="main-container__social">
                        <a href="views/portfolio.html" draggable="false"><i
                                class="fa-solid fa-address-book fa-2xl"></i></a>
                        <a href="https://www.linkedin.com/in/brayanocampo/" target="_blank" draggable="false"><i
                                class="fa-brands fa-linkedin fa-2xl"></i></a>
                        <a href="https://github.com/Brayan0campo" target="_blank" draggable="false"><i
                                class="fa-brands fa-square-github fa-2xl"></i></a>
                        <a href="https://diamond-eris-3ee.notion.site/Jason-Chin-8c21973cdba7424eb92cb0185e40995b?pvs=4"
                            id="notion" target="_blank" draggable="false">N</a>
                    </div>
                </div>
            </div>
        </section> -->
    </main>

    <footer aria-label="Pie de página">
        <div class="footer-container">
            <p>©2023 Brayan Ocampo | Made with ❤ in Medellin - Colombia</p>
        </div>
    </footer>

    <script src="./js/portfolio/portfolio.js"></script>
    <script src="./js/theme/theme-mode.js"></script>
</body>

</html>