<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>👋 Brayan0campo | Portfolio </title>

    <link rel="stylesheet" href="../scss/main.css">
    <script src="https://kit.fontawesome.com/380f4ef113.js" crossorigin="anonymous"></script>
</head>

<body>

    <header class="main-header" aria-label="Encabezado">
        <nav class="main-header__nav">
            <a class="main-header__title" href="../index.html" draggable="false">Brayan | Ocampo</a>
            <ul>
                <li><a href="#about-me" aria-label="Sobre mí">sobre mí</a></li>
                <li><a href="#portfolio" aria-label="Portfolio">portafolio</a></li>
                <li><a href="#career" aria-label="Experiencia">experiencia</a></li>
                <li><a href="#contact" aria-label="Contacto">contacto</a></li>
            </ul>
        </nav>
        <div class="main-header__tools">
            <a class="language-switch" href="./en" draggable="false" data-tooltip="Switch to English"
                data-tooltip-bottom aria-label="Switch to English"><i class="fa-solid fa-earth-americas fa-lg"></i></a>
            <button class="theme-button" aria-hidden="true" data-tooltip="Tema" data-tooltip-bottom
                aria-label="Color de pagina"><i class="fa-solid fa-circle-half-stroke fa-lg"></i></button>
        </div>
    </header>

    <main aria-label="Contenido principal">
        <section class="section-hero">
        
                <img src="../assets/images/img-banner.gif" alt="" draggable="false">
     
        </section>

        <section aria-labelledby="about-me-title" id="about-me" class="section about-me">
            <div class="container">
                <img src="../assets/images/Temporal-Line.gif" alt="" draggable="false">
            </div>
        </section>









        <section aria-labelledby="portfolio-title" id="portfolio" class="section portfolio">
            <div class="container">
                <h2 id="portfolio-title" class="section-title type-mono rellax" data-rellax-speed="1"
                    aria-label="Portfolio">Portfolio</h2>
                <p class="paragraph">De los cientos de proyectos en los que trabajé durante los últimos 9 años, aquí hay
                    una selección de los más relevantes.</p>
                <div class="projects-list">
                    <article class="project" id="project-monotienda" aria-labelledby="title-monotienda">
                        <div class="project-icons">
                            <ion-icon aria-hidden="true" name="folder-outline"></ion-icon>
                            <a target="_blank" href="https://github.com/carpistudio/monotienda-react"
                                aria-label="Ver repositorio en GitHub (abre en una nueva pestaña)"
                                data-tooltip="Ver repositorio"><ion-icon name="logo-github"></ion-icon>
                            </a>
                            <a target="_blank" href="https://monotienda-react.web.app"
                                aria-label="Ver deploy (abre en una nueva pestaña)" data-tooltip="Ver deploy"><ion-icon
                                    name="link-outline"></ion-icon></a>
                        </div>
                        <h3 id="title-monotienda" class="project-title">Monotienda</h3>
                        <p>E-commerce en React utilizando base de datos de Firebase.</p>
                        <ul class="skills-list project-skills">
                            <li class="skill">React</li>
                            <li class="skill">SCSS</li>
                            <li class="skill">Firebase</li>
                        </ul>
                    </article>
                    <article class="project" id="project-carpishop" aria-labelledby="title-carpishop">
                        <div class="project-icons">
                            <ion-icon aria-hidden="true" name="folder-outline"></ion-icon>
                            <a target="_blank"
                                href="https://www.youtube.com/playlist?list=PL8VCLfCNXjSZiqgNULYZGlcveIm7O3Zco"
                                aria-label="Ver video (abre en una nueva pestaña)" data-tooltip="Ver video"><ion-icon
                                    name="logo-youtube"></ion-icon></a>
                            <a target="_blank" href="https://github.com/carpicoder/e-commerce-desde-cero"
                                aria-label="Ver repositorio en GitHub (abre en una nueva pestaña)"
                                data-tooltip="Ver repositorio"><ion-icon name="logo-github"></ion-icon>
                            </a>
                            <a target="_blank" href="https://carpicoder.github.io/e-commerce-desde-cero/resultado-final"
                                aria-label="Ver deploy (abre en una nueva pestaña)" data-tooltip="Ver deploy"><ion-icon
                                    name="link-outline"></ion-icon></a>
                            </a>
                        </div>
                        <h3 id="title-carpishop" class="project-title">CarpiShop</h3>
                        <p>E-commerce interactivo en HTML, CSS y JavaScript, del cual subí algunos videos en YouTube.
                        </p>
                        <ul class="skills-list project-skills">
                            <li class="skill">HTML</li>
                            <li class="skill">CSS</li>
                            <li class="skill">JavaScript</li>
                            <li class="skill">JSON</li>
                            <li class="skill">Fetch</li>
                        </ul>
                    </article>
                    <article class="project" id="project-pokedex" aria-labelledby="title-pokedex">
                        <div class="project-icons">
                            <ion-icon aria-hidden="true" name="folder-outline"></ion-icon>
                            <a target="_blank" href="https://youtu.be/EmxvMPcIy5c"
                                aria-label="Ver video (abre en una nueva pestaña)" data-tooltip="Ver video"><ion-icon
                                    name="logo-youtube"></ion-icon></a>
                            <a target="_blank" href="https://github.com/carpicoder/pokedex"
                                aria-label="Ver repositorio en GitHub (abre en una nueva pestaña)"
                                data-tooltip="Ver repositorio"><ion-icon name="logo-github"></ion-icon>
                            </a>
                            <a target="_blank" href="https://carpicoder.github.io/pokedex/resultado-final"
                                aria-label="Ver deploy (abre en una nueva pestaña)" data-tooltip="Ver deploy"><ion-icon
                                    name="link-outline"></ion-icon></a>
                        </div>
                        <h3 id="title-pokedex" class="project-title">Pokédex</h3>
                        <p>Pokédex interactiva con JavaScript y consumo de API con Fetch.</p>
                        <ul class="skills-list project-skills">
                            <li class="skill">HTML</li>
                            <li class="skill">CSS</li>
                            <li class="skill">JavaScript</li>
                            <li class="skill">API</li>
                            <li class="skill">Fetch</li>
                        </ul>
                    </article>
                    <article class="project" id="project-piedra-papel-tijeras"
                        aria-labelledby="title-piedra-papel-tijeras">
                        <div class="project-icons">
                            <ion-icon aria-hidden="true" name="folder-outline"></ion-icon>
                            <a target="_blank" href="https://youtu.be/QZ6iJG1mQFM"
                                aria-label="Ver video (abre en una nueva pestaña)" data-tooltip="Ver video"><ion-icon
                                    name="logo-youtube"></ion-icon></a>
                            <a target="_blank" href="https://github.com/carpicoder/piedra-papel-o-tijera"
                                aria-label="Ver repositorio en GitHub (abre en una nueva pestaña)"
                                data-tooltip="Ver repositorio"><ion-icon name="logo-github"></ion-icon>
                            </a>
                            <a target="_blank"
                                href="https://carpicoder.github.io/piedra-papel-o-tijera/resultado-final/"
                                aria-label="Ver deploy (abre en una nueva pestaña)" data-tooltip="Ver deploy"><ion-icon
                                    name="link-outline"></ion-icon></a>
                        </div>
                        <h3 id="title-piedra-papel-tijeras" class="project-title">Piedra Papel Tijeras</h3>
                        <p>Juego interactivo usando HTML, CSS y JS, enseñado en mi canal de YouTube.</p>
                        <ul class="skills-list project-skills">
                            <li class="skill">HTML</li>
                            <li class="skill">CSS</li>
                            <li class="skill">JavaScript</li>
                        </ul>
                    </article>
                    <article class="project" id="project-del-bit-al-atomo" aria-labelledby="title-del-bit-al-atomo">
                        <div class="project-icons">
                            <ion-icon aria-hidden="true" name="folder-outline"></ion-icon>
                            <a target="_blank" href="https://github.com/carpistudio/dbaa"
                                aria-label="Ver repositorio en GitHub (abre en una nueva pestaña)"
                                data-tooltip="Ver repositorio"><ion-icon name="logo-github"></ion-icon>
                            </a>
                            <a target="_blank" href="https://carpistudio.github.io/dbaa"
                                aria-label="Ver deploy (abre en una nueva pestaña)" data-tooltip="Ver deploy"><ion-icon
                                    name="link-outline"></ion-icon></a>
                        </div>
                        <h3 id="title-del-bit-al-atomo" class="project-title">Del Bit Al Átomo</h3>
                        <p>Proyecto freelance interactivo y con una estructura muy particular lograda con CSS Grid.</p>
                        <ul class="skills-list project-skills">
                            <li class="skill">HTML</li>
                            <li class="skill">SCSS</li>
                            <li class="skill">CSS Grid</li>
                            <li class="skill">jQuery</li>
                        </ul>
                    </article>
                    <article class="project" id="project-miletta" aria-labelledby="title-miletta">
                        <div class="project-icons">
                            <ion-icon aria-hidden="true" name="folder-outline"></ion-icon>
                            <a target="_blank" href="https://github.com/carpistudio/milettacoder"
                                aria-label="Ver repositorio en GitHub (abre en una nueva pestaña)"
                                data-tooltip="Ver repositorio"><ion-icon name="logo-github"></ion-icon></a>
                            <a target="_blank" href="https://carpistudio.github.io/milettacoder"
                                aria-label="Ver deploy (abre en una nueva pestaña)" data-tooltip="Ver deploy"><ion-icon
                                    name="link-outline"></ion-icon></a>
                        </div>
                        <h3 id="title-miletta" class="project-title">Miletta Pastelería</h3>
                        <p>Proyecto de sitio web estático en HTML + CSS para una pastelería en Buenos Aires.</p>
                        <ul class="skills-list project-skills">
                            <li class="skill">HTML</li>
                            <li class="skill">CSS</li>
                            <li class="skill">SCSS</li>
                            <li class="skill">Bootstrap</li>
                        </ul>
                    </article>
                </div>

                <div class="section-footer" aria-hidden="true">
                    <p>Portfolio</p>
                </div>
            </div>
        </section>

        <section aria-labelledby="career-title" id="career" class="section career">
            <div class="container">
                <h2 id="career-title" class="section-title type-mono rellax" data-rellax-speed="1"
                    aria-label="Experiencia">Experiencia</h2>

                <div class="jobs-list" aria-label="Trabajos">

                    <article class="job" aria-labelledby="coderhouse-title">
                        <div class="job-company">
                            <h3 class="company-title" id="coderhouse-title">Coderhouse</h3>
                            <a target="_blank" href="https://coderhouse.com" class="company-link"
                                data-tooltip="Ver sitio web" aria-label="Ver sitio web (abre en una nueva pestaña)">
                                <ion-icon name="link-outline"></ion-icon>
                            </a>
                        </div>
                        <p class="company-type">Academia digital</p>
                        <ul class="roles" aria-label="Roles">
                            <li class="role">
                                <p class="title">Profesor en HTML, CSS y JavaScript</p>
                                <p class="date">Dic. 2022 - Actualidad</p>
                            </li>
                            <li class="role">
                                <p class="title">Coordinador de tutores</p>
                                <p class="date">Nov. 2022 - Actualidad</p>
                            </li>
                            <li class="role">
                                <p class="title">Tutor en HTML, CSS, JavaScript y React JS</p>
                                <p class="date">May. 2022 - Actualidad</p>
                            </li>
                        </ul>
                    </article>

                    <article class="job" aria-labelledby="carpi-coder-title">
                        <div class="job-company">
                            <h3 class="company-title" id="carpi-coder-title">Carpi Coder</h3>
                            <div>
                                <a target="_blank" href="https://carpicoder.com" class="company-link"
                                    data-tooltip="Ver sitio web" aria-label="Ver sitio web (abre en una nueva pestaña)">
                                    <ion-icon name="link-outline"></ion-icon>
                                </a>
                                <a target="_blank" href="https://youtube.com/carpicoder" class="company-link"
                                    data-tooltip="Ver canal" aria-label="Ver canal (abre en una nueva pestaña)">
                                    <ion-icon name="logo-youtube"></ion-icon>
                                </a>
                            </div>
                        </div>
                        <p class="company-type">Agencia freelance</p>
                        <ul class="roles" aria-label="Roles">
                            <li class="role">
                                <p class="title">Contenido educativo en YouTube</p>
                                <p class="date">Jul. 2022 - Actualidad</p>
                            </li>
                            <li class="role">
                                <p class="title">Clases privadas</p>
                                <p class="date">Jul. 2022 - Actualidad</p>
                            </li>
                            <li class="role">
                                <p class="title">Proyectos freelance</p>
                                <p class="date">Jun. 2021 - Actualidad</p>
                            </li>
                        </ul>
                    </article>

                    <article class="job" aria-labelledby="urutienda-title">
                        <div class="job-company">
                            <h3 class="company-title" id="urutienda-title">Urutienda</h3>
                            <a target="_blank" href="https://urutienda.com" class="company-link"
                                data-tooltip="Ver sitio web" aria-label="Ver sitio web (abre en una nueva pestaña)">
                                <ion-icon name="link-outline"></ion-icon>
                            </a>
                        </div>
                        <p class="company-type">Agencia digital</p>
                        <ul class="roles" aria-label="Roles">
                            <li class="role">
                                <p class="title">Supervisor de Help Desk</p>
                                <p class="date">Abr. 2020 - Actualidad</p>
                            </li>
                            <li class="role">
                                <p class="title">Desarrollador WordPress</p>
                                <p class="date">Abr. 2020 - Actualidad</p>
                            </li>
                        </ul>
                    </article>

                    <article class="job" aria-labelledby="su-web-express-title">
                        <div class="job-company">
                            <h3 class="company-title" id="su-web-express-title">Su Web Express</h3>
                            <a target="_blank" href="https://suwebexpress.com.ar" class="company-link"
                                data-tooltip="Ver sitio web" aria-label="Ver sitio web (abre en una nueva pestaña)">
                                <ion-icon name="link-outline"></ion-icon>
                            </a>
                        </div>
                        <p class="company-type">Agencia digital</p>
                        <ul class="roles" aria-label="Roles">
                            <li class="role">
                                <p class="title">Project Leader</p>
                                <p class="date">Sep. 2018 - Jun. 2022</p>
                            </li>
                            <li class="role">
                                <p class="title">Desarrollador Frontend</p>
                                <p class="date">Abr. 2014 - Jun. 2022</p>
                            </li>
                        </ul>
                    </article>


                </div>

                <div class="section-footer" aria-hidden="true">
                    <p>Experiencia</p>
                </div>
            </div>
        </section>
    </main>

    <footer aria-label="Pie de página">
        <div class="footer-container">
            <p>©2023 Brayan Ocampo | Made with ❤ in Medellin - Colombia</p>
        </div>
    </footer>

    <script src="./js/portfolio.js"></script>
    <script src="./js/theme-mode.js"></script>
</body>

</html>