.main-header {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    padding: 1rem 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    background-image: linear-gradient(to bottom, $clr-bg 50%, transparent);
    background-color: $clr-bg-90;
    border-bottom: 1px solid $clr-gray-alt;

    &__logo {
        font: bold 1em $ff-title;
        color: $clr-details;
        text-shadow: 0 0 .1rem $clr-details;
    }

    &__tools {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__tools > .theme-button,
    &__tools > .language-button {
        border: 0;
        background-color: transparent;
        color: $clr-text;
        font-size: 0.9rem;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
            color: $clr-details;
        }
    }
}