.header-navbar {
    max-width: 68.75rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        font: bold .9375em $font-family-secondary;
        color: $color-tx-tertiary;
        text-shadow: 0 0 .3125rem $color-tx-tertiary;
    }

    &__tools {
        margin: 1.875rem;

        .tool {
            background-color: $color-bg-primary;
            width: 1.25rem;
            margin-left: .75rem;
            cursor: pointer;
        }

        .fa-solid  {
            color: $color-tx-primary;
            transition: 0.5s;

            &:hover {
                color: $color-tx-tertiary;
            }
        }
    }
}