.main-container {
    max-width: 62.5rem;
    margin: 0 auto;
    padding-inline: 1.5rem;

    &__content {
        min-height: 100vh;
        display: flex;
        align-items: center;
        padding-block: 1rem;
    }

    .main-content {
        display: grid;
        grid-template-columns: .35fr 1fr;
        align-items: start;
        gap: 2rem;

        &__image {
            width: 100%;

            .content-image {
                background-color: $clr-details;
                background-image: url("../assets/images/bg-noise.png");
                border-radius: 0.5rem;
                transform: scale(.7) translateX(-1rem) translateY(-1rem);
                width: 100%;

                img {
                    border-radius: 1rem;
                    transform: scale(1.2) translateX(-0.13rem) translateY(-1.1rem);
                    max-width: 100%;
                }
            }
        }

        &__about {
            display: flex;
            flex-direction: column;

            .content-intro {
                font-family: $ff-text;
                background-color: $clr-details;
                background-image: url("../assets/images/bg-noise.png");
                color: $clr-bg;
                width: max-content;
                font-weight: 600;
                font-size: 1rem;
                padding: .25rem .75rem;
                border-radius: .5rem;

                &::selection {
                    background-color: $clr-text;
                    color: $clr-bg;
                }
            }

            .content-title {
                font: 600 2.2rem $ff-title;
                margin-bottom: 1rem;
                color: $clr-details;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 1rem;
            }

            .content-subtitle {
                font: 600 3rem $ff-text;
                line-height: 1.2;
            }

            .content-description {
                font-family: $ff-text;
                text-align: justify;
            }

            .content-contact {
                font: normal .875rem $ff-title;
                margin-top: 1.5625rem;

                .mail {
                    background-color: $clr-details;
                    color: $clr-bg;
                    border-radius: 3px;
                    padding: 0 .4rem;
                    transition: 0.6s;

                    &::selection {
                        background-color: $clr-text;
                    }

                    &:hover {
                        background-color: $clr-bg;
                        color: $clr-details;
                    }
                }
            }

            .footer-container {
                position: absolute;
                bottom: 1.875rem;
                right: 23.125rem;

                p {
                    text-align: center;
                    font: bold .8125rem $ff-title;
                    color: $clr-gray;
                }
            }
        }
    }

    &__social {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 75px;

        a {
            margin: 16px;
            color: $clr-text;
            transition: 0.5s;

            &:hover {
                color: $clr-details;
                transform: scale(1.1);
            }
        }

        #notion {
            color: $clr-bg;
            background-color: $clr-text;
            border-radius: .125rem;
            font-size: 1.4375rem;
            font-weight: bold;
            width: 1.8125rem;
            margin-left: 1.125rem;

            &:hover {
                color: $clr-bg;
                background-color: $clr-details;
            }
        }
    }
}

.spinner {
    position: fixed;
    inset: 0;
    background-color: $clr-bg;
    color: $clr-text;
    z-index: 99999999;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;

    .fa-solid {
        pointer-events: none;
        animation: spin 1s ease-in-out both infinite;
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    }

    @keyframes spin {
        0% {
            transform: rotate(0);
        }

        50% {
            transform: rotate(360deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

}