.main-container {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 62.5rem;
    padding: 1rem 1.5rem;

    display: flex;
    align-items: center;

    &__content {
        display: grid;
        align-items: start;
        grid-template-columns: .35fr 1fr;
        gap: 2rem;

        .content-image {
            width: 100%;
            border-radius: 0.5rem;
            transform: scale(.7) translateX(-1rem) translateY(-1rem);
            background: $clr-details url("../../assets/images/bg-noise.png") no-repeat;

            img {
                max-width: 100%;
                border-radius: 1rem;
                transform: scale(1.2) translateX(-0.13rem) translateY(-1.1rem);
            }
        }

        .content-about {
            display: flex;
            flex-direction: column;

            &__intro {
                color: $clr-bg;
                width: max-content;
                border-radius: .2rem;
                padding: .25rem .75rem;
                font: normal bold 1em/1.3 $ff-text, sans-serif;
                background: $clr-details url("../../assets/images/bg-noise.png") no-repeat;
            }

            &__title {
                color: $clr-details;
                margin-bottom: 1rem;
                font: normal bold 2.2em $ff-title, sans-serif;
            }

            &__subtitle {
                font: normal 600 2.6em/1.3 $ff-title, sans-serif;
            }

            &__description {
                text-align: justify;
                margin-bottom: 1.5625rem;
                font: normal 500 .8125em $ff-title, sans-serif;

                .link {
                    color: $clr-details;
                }
            }

            &__contact {
                font: normal .875em $ff-title, sans-serif;

                .mail {
                    padding: 0 .4rem;
                    color: $clr-details;
                }
            }

            &__footer {
                bottom: 1.875rem;
                right: 23.125rem;
                color: $clr-gray;
                text-align: center;
                position: absolute;
                font: normal bold .8125em $ff-title, sans-serif;
            }
        }
    }

    &__social {
        text-align: center;
        margin-left: 4.625rem;

        display: flex;
        flex-direction: column;

        a {
            margin: 1rem;
            color: $clr-text;
            transition: 0.5s;

            &:hover {
                color: $clr-details;
                transform: scale(1.1);
            }
        }

        #notion {
            color: $clr-bg;
            width: 1.8125rem;
            margin-left: 1.125rem;
            border-radius: .125rem;
            font: normal bold 1.4375em $ff-text, sans-serif;
            background: $clr-text url("../../assets/images/bg-noise.png") no-repeat;

            &:hover {
                background-color: $clr-details;
            }
        }
    }
}

.load-page {
    inset: 0;
    font-size: 3rem;
    position: fixed;
    transition: .2s;
    color: $clr-text;
    z-index: 99999999;
    background-color: $clr-bg;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    video {
        width: 62.5rem;
    }
}