.main-container {
    max-width: 68.75rem;
    margin: 0 auto;

    display: flex;
    align-items: center;


    &__social {
        display: flex;
        flex-direction: column;
        margin: 60px;

        a {
            margin: 12px;
        }

        img {
            width: 30px;
        }
    }

    &__about {
        margin: 100px 300px 200px 10px;

        .about-title {
            display: flex;
            align-items: end;

            img {
                width: 110px;
                margin-bottom: 8px;
            }

            &__text {
                margin-left: 44px;

                h2 {
                    color: $color-bg-primary;
                    font: bold 23px $font-family-primary;
                    background-color: $color-tx-tertiary;
                    border-radius: 3px;
                    margin-right: 230px;
                    text-align: center;
                }

                h1 {
                    color: $color-tx-primary;
                    font: bold 38px $font-family-primary;
                }
            }
        }

        .about-content {

            p {
                margin-top: 30px;
                margin-left: 12px;
                text-align: justify;
                color: $color-tx-primary;
                font: normal 15px $font-family-primary;
            }
        }
    }
}