@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;800&display=swap');

/* VARIABLES */
$ff-mono: 'DM Mono', monospace;
$ff-roboto: 'Roboto Mono', sans-serif;
$ff-title: 'Unbounded', sans-serif;
$ff-text: 'Rubik', sans-serif;
$clr-bg: #1C1C1C;
$clr-bg-90: #1C1C1CE6;
$clr-text: #F5F5F5;
$clr-gray: #606060;
$clr-gray-alt: #2D2D2D;
$clr-details: #5EEAA6;

:root {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

*::selection {
    background-color: $clr-details;
    color: $clr-bg;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: $clr-text;
    font-family: $ff-text;
    background-color: $clr-bg;
    background-image: url("../assets/images/bg-noise.png");
}