$color-tx-primary: #F5F5F5;
$color-tx-secondary: #78797D;
$color-tx-tertiary: #5EEAA6;
$color-bg-primary: #2D2E32;
$color-bg-secondary: #25262A;

$font-family-primary: 'Inter', sans-serif;
$font-family-secondary: 'Roboto Mono', monospace;